In [2]:
import pandas as pd

In [3]:
event = pd.read_csv('D:/Users/Desktop/cources/skill factory/PYTHON/PANDAS/gd_quize/7_4_Events.csv',sep = ',')
purchase = pd.read_csv('D:/Users/Desktop/cources/skill factory/PYTHON/PANDAS/gd_quize/purchase.csv',sep = ',')

In [4]:
display(event.head(10))
display(purchase.head(10))

,id,event_type,selected_level,start_time,tutorial_id,user_id
0,28903,registration,NaN,2016-05-11T23:40:55,NaN,12583
1,28904,registration,NaN,2016-05-11T23:49:58,NaN,12584
2,28905,registration,NaN,2016-05-12T00:53:07,NaN,12585
3,28906,tutorial_start,NaN,2016-05-12T01:32:20,17562.0,12585
4,28907,tutorial_finish,NaN,2016-05-12T01:34:53,17562.0,12585
5,28908,tutorial_start,NaN,2016-05-12T02:11:29,17563.0,12584
6,28909,tutorial_finish,NaN,2016-05-12T02:14:14,17563.0,12584
7,28910,level_choice,hard,2016-05-12T05:30:25,NaN,12584
8,28911,pack_choice,NaN,2016-05-12T05:38:24,NaN,12584
9,28912,tutorial_start,NaN,2016-05-12T07:19:01,17564.0,12583

      id  user_id       event_datetime  amount
0  15674    12584  2016-05-12T10:34:16     100
1  15675    12985  2016-05-13T08:25:56      50
2  15676    12828  2016-05-13T16:33:46      50
3  15677    12598  2016-05-14T01:09:37     150
4  15678    13037  2016-05-14T01:24:46     100
5  15679    12989  2016-05-14T02:19:20     200
6  15680    12684  2016-05-14T03:10:14     100
7  15681    12656  2016-05-14T03:42:48     100
8  15682    12624  2016-05-14T06:00:45      50
9  15683    13136  2016-05-14T07:31:03      50

In [5]:
mask_year = (event['event_type'] == 'registration') & (event['start_time'] >= '2018-01-01') & (event['start_time'] < '2019-01-01')
registered_users = event[mask_year]['user_id'].values # выведем список пользователей зарегавшихся в 2018 году
events_registred = event[event['user_id'].isin(registered_users)] # таблица с фильтром на пользователях
events_registred.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66959 entries, 51405 to 118364
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              66959 non-null  int64
 1   event_type      66959 non-null  object
 2   selected_level  8342 non-null   object
 3   start_time      66959 non-null  object
 4   tutorial_id     32954 non-null  float64
 5   user_id         66959 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.6+ MB

In [6]:
events_registred['user_id'].nunique()

19926

In [7]:
events_registred.describe(include='all')

,id,event_type,selected_level,start_time,tutorial_id,user_id
count,66959.000000,66959,8342,66959,32954.000000,66959.000000
unique,NaN,5,3,66809,NaN,NaN
top,NaN,registration,medium,2018-03-13T09:37:43,NaN,NaN
freq,NaN,19926,4645,9,NaN,NaN
mean,113787.000045,NaN,NaN,NaN,40532.934393,37781.543362
std,19329.542752,NaN,NaN,NaN,5213.486632,5751.497904
min,80308.000000,NaN,NaN,NaN,31505.000000,27832.000000
25%,97047.500000,NaN,NaN,NaN,36008.250000,32849.000000
50%,113787.000000,NaN,NaN,NaN,40529.500000,37719.000000
75%,130526.500000,NaN,NaN,NaN,45057.750000,42733.000000
max,147267.000000,NaN,NaN,NaN,49554.000000,47757.000000

In [8]:
purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5956 entries, 0 to 5955
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              5956 non-null   int64
 1   user_id         5956 non-null   int64
 2   event_datetime  5956 non-null   object
 3   amount          5956 non-null   int64
dtypes: int64(3), object(1)
memory usage: 186.2+ KB

In [9]:
purchase_registred = purchase[purchase['user_id'].isin(registered_users)]
purchase_registred.info()
purchase_registred.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1600 entries, 1171 to 2778
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1600 non-null   int64
 1   user_id         1600 non-null   int64
 2   event_datetime  1600 non-null   object
 3   amount          1600 non-null   int64
dtypes: int64(3), object(1)
memory usage: 62.5+ KB

         id  user_id       event_datetime  amount
1171  16845    27845  2018-01-03T18:53:43     100
1172  16846    27865  2018-01-04T14:46:10     250
1174  16848    27911  2018-01-07T08:19:12      50
1175  16849    27910  2018-01-07T12:11:34     100
1176  16850    27940  2018-01-07T13:16:41     200

Изучаем событие registration

In [10]:
events_registred[events_registred['event_type']=='registration']['user_id'].nunique() 
# Сколько пользователей совершили событие registration

19926

In [11]:
events_registred['user_id'].nunique() # кол-во совпадает, все пользователи совершают регистрацию

19926

In [12]:
events_registred[events_registred['event_type']=='tutorial_start'].head(10) # срез данных по событию tutorial_start

,id,event_type,selected_level,start_time,tutorial_id,user_id
51412,80315,tutorial_start,NaN,2018-01-01T14:54:40,31505.0,27836
51413,80316,tutorial_start,NaN,2018-01-01T15:00:51,31506.0,27835
51415,80318,tutorial_start,NaN,2018-01-01T15:40:43,31507.0,27836
51417,80320,tutorial_start,NaN,2018-01-01T17:47:40,31508.0,27833
51420,80323,tutorial_start,NaN,2018-01-01T19:11:36,31509.0,27839
51422,80325,tutorial_start,NaN,2018-01-01T19:46:11,31510.0,27834
51434,80337,tutorial_start,NaN,2018-01-02T02:07:07,31511.0,27840
51435,80338,tutorial_start,NaN,2018-01-02T03:03:44,31512.0,27845
51437,80340,tutorial_start,NaN,2018-01-02T04:55:11,31513.0,27842
51446,80349,tutorial_start,NaN,2018-01-02T07:08:00,31514.0,27845

In [13]:
events_registred[events_registred['event_type']=='tutorial_start']['user_id'].nunique() 
# число пользователей прошедших регистрацию больше чем обучение

11858

In [14]:
registered_users_count = events_registred[events_registred['event_type']=='registration']['user_id'].nunique() 
tutorial_users_count = events_registred[events_registred['event_type']=='tutorial_start']['user_id'].nunique() 
percent_tutorial_start_users = tutorial_users_count / registered_users_count
print(f'Процент пользователей, начавших обучение, от общего числа зарегистрировавшихся: {percent_tutorial_start_users:.2%}')

Процент пользователей, начавших обучение, от общего числа зарегистрировавшихся: 59.51%

In [15]:
tutorial_finish_users_count = events_registred[events_registred['event_type']=='tutorial_finish']['user_id'].nunique()
print(tutorial_finish_users_count)

10250

In [16]:
tutorial_completion_rate = tutorial_finish_users_count / tutorial_users_count # коэффициент «завершаемости» обучения
print(f'Процент пользователей, завершивших обучение: {tutorial_completion_rate:.2%}')

Процент пользователей, завершивших обучение: 86.44%

In [17]:
events_registred[events_registred['event_type']=='level_choice']['user_id'].nunique()
# выясним сколько дошли до следующего этапа level_choice

8342

In [74]:
level_choice_users_count = events_registred[events_registred['event_type']=='level_choice']['user_id'].nunique() 
percent_level_choice_users = level_choice_users_count / registered_users_count
print(f'Процент пользователей, выбравших уровень сложности тренировок (от общего числа зарегистрировавшихся):\
    {percent_level_choice_users:.2%}')
print(level_choice_users_count)

Процент пользователей, выбравших уровень сложности тренировок (от общего числа зарегистрировавшихся):    41.86%
8342

Меньше половины пользователей (41.76 %) доходят до этапа выбора уровня сложности вопросов. А ведь этот этап напрямую влияет на то, что пользователь будет пользоваться приложением через бесплатные возможности, которые в дальнейшем могут привести к оплате.

In [19]:
events_registred[events_registred['event_type']=='pack_choice']['user_id'].nunique() # выбрали бесплатный пакет вопросов

5737

In [75]:
training_choice_user_count = events_registred[events_registred['event_type']=='pack_choice']['user_id'].nunique()
percent_training_choice_users = training_choice_user_count / level_choice_users_count 
print(f'Процент пользователей, выбравших пакет бесплатных вопросов (от числа пользователей, которые выбрали уровень сложности:\
    {percent_training_choice_users:.2%}')
print(level_choice_users_count)

Процент пользователей, выбравших пакет бесплатных вопросов (от числа пользователей, которые выбрали уровень сложности:    68.77%
8342

In [21]:
purchase_registred['user_id'].nunique() # пользователи совершившие покупку платных пакетов

1600

In [22]:
paying_users_count = purchase_registred['user_id'].nunique()
percent_of_paying_users = paying_users_count / training_choice_user_count
print(f'Процент пользователей, которые оплатили вопросы (от числа пользователей, которые выбрали тренировки):\
    {percent_of_paying_users:.2%}')

Процент пользователей, которые оплатили вопросы (от числа пользователей, которые выбрали тренировки):    27.89%

In [23]:
purchase_rate = paying_users_count / registered_users_count 
print(f'Процент пользователей, которые оплатили вопросы(от числа зарегистрировавшихся пользователей):\
    {purchase_rate:.2%}')

Процент пользователей, которые оплатили вопросы(от числа зарегистрировавшихся пользователей):    8.03%

АНАЛИЗ УНИКАЛЬНЫХ ПОЛЬЗОВАТЕЛЬСКИХ ПУТЕЙ

In [24]:
purchase['event_type'] = 'purchase' # добавим событие purchase
purchase_registred['event_type'] = 'purchase'
display(purchase['event_type'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\4120196975.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_registred['event_type'] = 'purchase'

0       purchase
1       purchase
2       purchase
3       purchase
4       purchase
          ...
5951    purchase
5952    purchase
5953    purchase
5954    purchase
5955    purchase
Name: event_type, Length: 5956, dtype: object

In [25]:
event = event.rename(columns={'id':'event_id'}) # переименуем столбец с одинаковыми названиями
purchase = purchase.rename(columns={'id':'purchase_id'})

In [26]:
events_registred = events_registred.rename(columns={'id':'event_id'})
purchase_registred = purchase_registred.rename(columns={'id':'purchase_id'})
purchase_registred = purchase_registred.rename(columns={'event_datetime':'start_time'})

In [27]:
display(events_registred.head(10))
display(purchase_registred.head(10))
display(events_registred['event_type'].value_counts())

,event_id,event_type,selected_level,start_time,tutorial_id,user_id
51405,80308,registration,NaN,2018-01-01T03:48:40,NaN,27832
51406,80309,registration,NaN,2018-01-01T04:07:25,NaN,27833
51407,80310,registration,NaN,2018-01-01T08:35:10,NaN,27834
51408,80311,registration,NaN,2018-01-01T11:54:47,NaN,27835
51409,80312,registration,NaN,2018-01-01T13:28:07,NaN,27836
51410,80313,registration,NaN,2018-01-01T14:08:40,NaN,27837
51411,80314,registration,NaN,2018-01-01T14:42:58,NaN,27838
51412,80315,tutorial_start,NaN,2018-01-01T14:54:40,31505.0,27836
51413,80316,tutorial_start,NaN,2018-01-01T15:00:51,31506.0,27835
51414,80317,tutorial_finish,NaN,2018-01-01T15:06:15,31506.0,27835

      purchase_id  user_id           start_time  amount event_type
1171        16845    27845  2018-01-03T18:53:43     100   purchase
1172        16846    27865  2018-01-04T14:46:10     250   purchase
1174        16848    27911  2018-01-07T08:19:12      50   purchase
1175        16849    27910  2018-01-07T12:11:34     100   purchase
1176        16850    27940  2018-01-07T13:16:41     200   purchase
1177        16851    27965  2018-01-07T22:55:33     100   purchase
1178        16852    27981  2018-01-07T23:20:25      50   purchase
1179        16853    27969  2018-01-08T01:18:23     100   purchase
1180        16854    27884  2018-01-08T19:37:34     150   purchase
1181        16855    27977  2018-01-09T14:09:18      25   purchase

registration       19926
tutorial_start     18050
tutorial_finish    14904
level_choice        8342
pack_choice         5737
Name: event_type, dtype: int64

In [28]:
total_events = pd.concat([events_registred,purchase_registred],sort=False) # объединим датафреймы со всеми событиями
total_events.head(10)
display(total_events['event_type'].value_counts())

registration       19926
tutorial_start     18050
tutorial_finish    14904
level_choice        8342
pack_choice         5737
purchase            1600
Name: event_type, dtype: int64

In [29]:
total_events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68559 entries, 51405 to 2778
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   event_id        66959 non-null  float64
 1   event_type      68559 non-null  object
 2   selected_level  8342 non-null   object
 3   start_time      68559 non-null  object
 4   tutorial_id     32954 non-null  float64
 5   user_id         68559 non-null  int64
 6   purchase_id     1600 non-null   float64
 7   amount          1600 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 4.7+ MB

Теперь сбросим индексы объединённого датафрейма (так как после объединения они дублировались и несут мало смысла) с помощью метода reset_index() и отсортируем все события по возрастанию времени с помощью sort_values()

In [30]:
total_events = total_events.reset_index(drop=True).sort_values('start_time') # сформировали выборку, в которой объединили события и оплаты

Воссоздаём последовательность событий поведения пользователя

In [31]:
user_path = total_events.groupby(['user_id'])['event_type'].apply(list).reset_index()
user_path.head()

   user_id                                         event_type
0    27832                                     [registration]
1    27833    [registration, tutorial_start, tutorial_finish]
2    27834    [registration, tutorial_start, tutorial_finish]
3    27835  [registration, tutorial_start, tutorial_finish...
4    27836  [registration, tutorial_start, tutorial_start,...

In [32]:
user_path['event_path'] = user_path['event_type'].apply(lambda x: " > ".join(x))
user_path['event_path'].head(10)

0                                         registration
1      registration > tutorial_start > tutorial_finish
2      registration > tutorial_start > tutorial_finish
3    registration > tutorial_start > tutorial_finis...
4    registration > tutorial_start > tutorial_start...
5                                         registration
6                                         registration
7    registration > tutorial_start > tutorial_finis...
8         registration > tutorial_start > level_choice
9      registration > tutorial_start > tutorial_finish
Name: event_path, dtype: object

In [33]:
user_paths = user_path.groupby('event_path')['user_id'].nunique().sort_values(ascending=False)
user_paths.head(10)

event_path
registration                                                                                                       7970
registration > tutorial_start > tutorial_finish > level_choice > pack_choice                                       2796
registration > tutorial_start > tutorial_finish                                                                    1956
registration > tutorial_start > tutorial_finish > level_choice                                                     1713
registration > tutorial_start > tutorial_finish > level_choice > pack_choice > purchase                            1083
registration > tutorial_start                                                                                       842
registration > tutorial_start > level_choice > pack_choice                                                          346
registration > tutorial_start > tutorial_finish > tutorial_start > tutorial_finish                                  323
registration > tutorial_start > level_choice                                                                        243
registration > tutorial_start > tutorial_finish > level_choice > pack_choice > tutorial_start > tutorial_finish     236
Name: user_id, dtype: int64

только 1 из 10 самых популярных последовательностей привела к покупке

In [34]:
user_paths[user_paths.index.str.contains('purchase')].head(10)
# Давайте посмотрим, какие ещё последовательности содержат в себе оплату

event_path
registration > tutorial_start > tutorial_finish > level_choice > pack_choice > purchase                                                                                                             1083
registration > tutorial_start > level_choice > pack_choice > purchase                                                                                                                                124
registration > tutorial_start > tutorial_finish > level_choice > pack_choice > tutorial_start > tutorial_finish > purchase                                                                           101
registration > tutorial_start > tutorial_finish > tutorial_start > tutorial_finish > level_choice > pack_choice > purchase                                                                            52
registration > tutorial_start > tutorial_start > tutorial_finish > level_choice > pack_choice > purchase                                                                                              26
registration > level_choice > pack_choice > purchase                                                                                                                                                  22
registration > tutorial_start > tutorial_finish > level_choice > pack_choice > tutorial_start > purchase                                                                                              21
registration > tutorial_start > tutorial_finish > level_choice > pack_choice > tutorial_start > tutorial_finish > tutorial_start > tutorial_finish > purchase                                         12
registration > tutorial_start > tutorial_finish > tutorial_start > tutorial_finish > level_choice > pack_choice > tutorial_start > tutorial_finish > purchase                                          8
registration > tutorial_start > tutorial_finish > level_choice > pack_choice > tutorial_start > tutorial_finish > tutorial_start > tutorial_finish > tutorial_start > tutorial_finish > purchase       7
Name: user_id, dtype: int64

Большинство последовательностей, которые содержат в себе оплату, также содержат старт обучения. Это наводит нас на гипотезу, что вероятность оплаты зависит от того, проходил ли пользователь обучение

In [35]:
registration_df = total_events[total_events['event_type']=='registration'] # создадим отдельный df только регистрации
registration_df['user_id'].value_counts().mean() # проверим что на 1 пользрвателя приходится 1 регистрация

1.0

In [36]:
registration_df = registration_df[['user_id','start_time']].rename(columns={'start_time':'registration_time'})

In [37]:
tutorial_df = total_events[total_events['event_type']=='tutorial_start'] # создадим отдельный df только обучения
tutorial_df['user_id'].value_counts().mean() # проверим сколько в среднем обучений проходит 1 пользователь

1.522179119581717

In [38]:
tutorial_df.head()

,event_id,event_type,selected_level,start_time,tutorial_id,user_id,purchase_id,amount
7,80315.0,tutorial_start,NaN,2018-01-01T14:54:40,31505.0,27836,NaN,NaN
8,80316.0,tutorial_start,NaN,2018-01-01T15:00:51,31506.0,27835,NaN,NaN
10,80318.0,tutorial_start,NaN,2018-01-01T15:40:43,31507.0,27836,NaN,NaN
12,80320.0,tutorial_start,NaN,2018-01-01T17:47:40,31508.0,27833,NaN,NaN
15,80323.0,tutorial_start,NaN,2018-01-01T19:11:36,31509.0,27839,NaN,NaN

In [39]:
tutorial_start_df_wo_duplicates = tutorial_df.sort_values('start_time').drop_duplicates('user_id') # отсортируем и удалим дупликаты
tutorial_start_df_wo_duplicates['user_id'].value_counts().mean() # будем проверять только 1-ое обучение

1.0

In [40]:
tutorial_start_df_wo_duplicates = tutorial_start_df_wo_duplicates[
    ['user_id','tutorial_id','start_time']
].rename(columns={'start_time':'tutorial_start_time'})

In [41]:
merged_df = registration_df.merge(tutorial_start_df_wo_duplicates,on='user_id',how='inner') # объединим таблицы по столбцу user_id 
merged_df.head()

   user_id    registration_time  tutorial_id  tutorial_start_time
0    27833  2018-01-01T04:07:25      31508.0  2018-01-01T17:47:40
1    27834  2018-01-01T08:35:10      31510.0  2018-01-01T19:46:11
2    27835  2018-01-01T11:54:47      31506.0  2018-01-01T15:00:51
3    27836  2018-01-01T13:28:07      31505.0  2018-01-01T14:54:40
4    27839  2018-01-01T18:24:01      31509.0  2018-01-01T19:11:36

In [42]:
merged_df['tutorial_start_time'] = pd.to_datetime(merged_df['tutorial_start_time'],yearfirst=True) # приведем к временному формату 
merged_df['registration_time'] = pd.to_datetime(merged_df['registration_time'] ,yearfirst=True)
merged_df['timedelta'] = merged_df['tutorial_start_time'] - merged_df['registration_time'] # разницf между временем начала обучения и временем регистрации
merged_df.head()
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11858 entries, 0 to 11857
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              11858 non-null  int64
 1   registration_time    11858 non-null  datetime64[ns]
 2   tutorial_id          11858 non-null  float64
 3   tutorial_start_time  11858 non-null  datetime64[ns]
 4   timedelta            11858 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), timedelta64[ns](1)
memory usage: 555.8 KB

In [43]:
merged_df['timedelta'].mean() # среднее время, которое проходит между регистрацией пользователя и началом первого обучения

Timedelta('0 days 04:38:24.019817844')

In [44]:
merged_df['timedelta'].describe() # проверим медианное и среднее значение

count                        11858
mean     0 days 04:38:24.019817844
std      0 days 04:15:09.650705034
min                0 days 00:00:34
25%         0 days 01:21:37.500000
50%         0 days 03:22:08.500000
75%         0 days 06:47:42.750000
max                1 days 16:03:46
Name: timedelta, dtype: object

Такая сегментация пользователей может дать нам важные опорные точки для оптимизации времени. Мы можем сосредоточится не на оптимизации среднего времени (поскольку среднее будет увеличено за счёт пользователей, которые долго проходят этап), а на том, чтобы оптимизировать медианное время

измеряем время обучения:

In [45]:
tutorial_finish_df = total_events[total_events['event_type']=='tutorial_finish'] # выведем df с событием окончания обучения

In [46]:
first_tutorial_ids = tutorial_start_df_wo_duplicates['tutorial_id'].unique() # возьмём время окончания первого обучения для тех обучений
    # которые были закончены
    # сформируем список с идентификаторами первых обучений

In [47]:
tutorial_finish_df = tutorial_finish_df[tutorial_finish_df['tutorial_id'].isin(first_tutorial_ids)] #отфильтруем датафрейм  и перезапишем
# ставив в нём только события для таких обучений, которые были первыми для пользователя
tutorial_finish_df['user_id'].value_counts().mean()

1.0

In [48]:
tutorial_finish_df = tutorial_finish_df[['user_id','start_time']].rename(columns={'start_time':'tutorial_finish_time'})
# оставим только необходимые столбцы
merged_df_2 = tutorial_start_df_wo_duplicates.merge(tutorial_finish_df,on='user_id',how='inner')
# объединим df с началом и концом обучения
merged_df_2['tutorial_finish_time'] = pd.to_datetime(merged_df_2['tutorial_finish_time'],yearfirst=True)
merged_df_2['tutorial_start_time'] = pd.to_datetime(merged_df_2['tutorial_start_time'],yearfirst=True)
# найдем дельту промежутка начала и конца обучения
merged_df_2['timedelta'] = merged_df_2['tutorial_finish_time'] - merged_df_2['tutorial_start_time']

In [49]:
display(merged_df_2.head())
print(merged_df_2['timedelta'].mean())
print(merged_df_2['timedelta'].describe())

,user_id,tutorial_id,tutorial_start_time,tutorial_finish_time,timedelta
0,27835,31506.0,2018-01-01 15:00:51,2018-01-01 15:06:15,0 days 00:05:24
1,27833,31508.0,2018-01-01 17:47:40,2018-01-01 17:50:08,0 days 00:02:28
2,27839,31509.0,2018-01-01 19:11:36,2018-01-01 19:16:32,0 days 00:04:56
3,27834,31510.0,2018-01-01 19:46:11,2018-01-01 19:48:01,0 days 00:01:50
4,27845,31512.0,2018-01-02 03:03:44,2018-01-02 03:06:48,0 days 00:03:04

0 days 00:03:53.174160732
count                         9830
mean     0 days 00:03:53.174160732
std      0 days 00:01:44.803217992
min                0 days 00:00:16
25%                0 days 00:02:28
50%                0 days 00:03:42
75%                0 days 00:05:08
max                0 days 00:10:06
Name: timedelta, dtype: object

 Определяем время между registration и level_choice

In [50]:
level_choise_df = total_events[total_events['event_type']=='level_choice']
print(level_choise_df['user_id'].value_counts().mean())
# выберем необходимые столбц и переименуем
level_choise_df = level_choise_df[['user_id','start_time']
].rename(columns={'start_time':'level_choice_time'})
# присоедним таблицы 
merged_df_3 = level_choise_df.merge(registration_df,on='user_id',how='inner')
display(merged_df_3.head())

1.0

   user_id    level_choice_time    registration_time
0    27835  2018-01-01T20:37:22  2018-01-01T11:54:47
1    27839  2018-01-01T22:37:50  2018-01-01T18:24:01
2    27840  2018-01-02T05:18:42  2018-01-01T20:53:21
3    27845  2018-01-02T06:19:18  2018-01-02T01:35:56
4    27842  2018-01-02T08:46:03  2018-01-01T23:18:46

In [51]:
merged_df_3['level_choice_time'] = pd.to_datetime(merged_df_3['level_choice_time'],yearfirst=True)
merged_df_3['registration_time'] = pd.to_datetime(merged_df_3['registration_time'],yearfirst=True)

In [52]:
#  найдм временной промежуток между регистрацией и выбором сложности
merged_df_3['timedelta'] = merged_df_3['level_choice_time'] - merged_df_3['registration_time']
print(merged_df_3['timedelta'].mean())
print(merged_df_3['timedelta'].describe())

0 days 07:10:19.169863342
count                         8342
mean     0 days 07:10:19.169863342
std      0 days 04:33:51.164488800
min                0 days 00:08:15
25%         0 days 03:53:16.500000
50%                0 days 06:03:28
75%         0 days 09:34:58.500000
max                1 days 18:48:25
Name: timedelta, dtype: object

Сколько в среднем для всех пользователей проходит времени между событием выбора уровня сложности тренировки до события выбора набора бесплатных вопросов?

In [53]:
pack_choice_df = total_events[total_events['event_type']=='pack_choice']
pack_choice_df.head()

,event_id,event_type,selected_level,start_time,tutorial_id,user_id,purchase_id,amount
20,80328.0,pack_choice,NaN,2018-01-01T20:38:43,NaN,27835,NaN,NaN
24,80332.0,pack_choice,NaN,2018-01-01T22:42:54,NaN,27839,NaN,NaN
39,80347.0,pack_choice,NaN,2018-01-02T06:25:12,NaN,27845,NaN,NaN
53,80361.0,pack_choice,NaN,2018-01-02T11:59:26,NaN,27849,NaN,NaN
58,80366.0,pack_choice,NaN,2018-01-02T14:14:51,NaN,27843,NaN,NaN

In [54]:
pack_choice_df['user_id'].value_counts().mean()

1.0

In [55]:
pack_choice_df = pack_choice_df[['user_id','start_time']].rename(columns={'start_time':'pack_choice_time'})

In [56]:
merged_df_4 = level_choise_df.merge(pack_choice_df,on='user_id',how='inner')
display(merged_df_4.head())
print(merged_df_4['user_id'].value_counts().mean())
merged_df_4['level_choice_time'] = pd.to_datetime(merged_df_4['level_choice_time'],yearfirst=True)
merged_df_4['pack_choice_time'] = pd.to_datetime(merged_df_4['pack_choice_time'],yearfirst=True)

   user_id    level_choice_time     pack_choice_time
0    27835  2018-01-01T20:37:22  2018-01-01T20:38:43
1    27839  2018-01-01T22:37:50  2018-01-01T22:42:54
2    27845  2018-01-02T06:19:18  2018-01-02T06:25:12
3    27849  2018-01-02T11:53:11  2018-01-02T11:59:26
4    27843  2018-01-02T14:09:58  2018-01-02T14:14:51

1.0

In [57]:
merged_df_4['timedelta'] = merged_df_4['pack_choice_time'] - merged_df_4['level_choice_time']
print(merged_df_4['timedelta'].mean())
print(merged_df_4['timedelta'].describe())

0 days 00:05:17.128464354
count                         5737
mean     0 days 00:05:17.128464354
std      0 days 00:02:43.923107804
min                0 days 00:00:19
25%                0 days 00:03:05
50%                0 days 00:04:57
75%                0 days 00:07:08
max                0 days 00:15:48
Name: timedelta, dtype: object

Сколько в среднем для всех пользователей проходит времени между событием выбора бесплатных вопросов и первой оплатой?

In [58]:
purchase_time_df = total_events[total_events['event_type']=='purchase']
purchase_time_df.head()

,event_id,event_type,selected_level,start_time,tutorial_id,user_id,purchase_id,amount
66959,NaN,purchase,NaN,2018-01-03T18:53:43,NaN,27845,16845.0,100.0
66960,NaN,purchase,NaN,2018-01-04T14:46:10,NaN,27865,16846.0,250.0
66961,NaN,purchase,NaN,2018-01-07T08:19:12,NaN,27911,16848.0,50.0
66962,NaN,purchase,NaN,2018-01-07T12:11:34,NaN,27910,16849.0,100.0
66963,NaN,purchase,NaN,2018-01-07T13:16:41,NaN,27940,16850.0,200.0

In [59]:
purchase_time_df['user_id'].value_counts().mean()

1.0

In [60]:
purchase_time_df = purchase_time_df[['user_id','start_time']].rename(columns={'start_time':'purchase_time'})

In [61]:
merged_df_5 = pack_choice_df.merge(purchase_time_df,on='user_id',how='inner')
display(merged_df_5.head())
print(merged_df_5['user_id'].value_counts().mean())
merged_df_5['purchase_time'] = pd.to_datetime(merged_df_5['purchase_time'],yearfirst=True)
merged_df_5['pack_choice_time'] = pd.to_datetime(merged_df_5['pack_choice_time'],yearfirst=True)
merged_df_5['timedelta'] = merged_df_5['purchase_time'] - merged_df_5['pack_choice_time']
print(merged_df_5['timedelta'].mean())
print(merged_df_5['timedelta'].describe())

   user_id     pack_choice_time        purchase_time
0    27845  2018-01-02T06:25:12  2018-01-03T18:53:43
1    27865  2018-01-04T06:03:20  2018-01-04T14:46:10
2    27884  2018-01-04T16:22:03  2018-01-08T19:37:34
3    27910  2018-01-05T12:05:28  2018-01-07T12:11:34
4    27911  2018-01-05T17:40:37  2018-01-07T08:19:12

1.0
3 days 17:46:53.403125
count                         1600
mean        3 days 17:46:53.403125
std      2 days 04:37:20.225124289
min                0 days 00:44:50
25%         1 days 21:24:13.250000
50%         3 days 12:51:25.500000
75%         5 days 09:42:13.750000
max               10 days 18:33:59
Name: timedelta, dtype: object

Проверка аналитической гипотезы.
Определим, существует ли различие в частоте и средней величине оплат между тремя группами пользователей

In [62]:
users_with_finished_tutorial = total_events[total_events['event_type']=='tutorial_finish']['user_id'].unique()
print(len(users_with_finished_tutorial)) # пользователи закончившие обучение хотя бы 1 раз

10250

In [63]:
users_with_started_tutorial = total_events[total_events['event_type']=='tutorial_start']['user_id'].unique()
set_users_with_started_tutorial = set(users_with_started_tutorial)
set_users_not_finished_but_started_tutorial = set_users_with_started_tutorial.difference(set(users_with_finished_tutorial))
print(len(set_users_with_started_tutorial))
print(len(set_users_not_finished_but_started_tutorial))
print(len(set_users_with_started_tutorial)-len(set(users_with_finished_tutorial))==len(
    set_users_not_finished_but_started_tutorial))
# пользователи начавшие, но не закончившие обучение

11858
1608
True

In [64]:
all_users = total_events['user_id'].unique()
set_all_users = set(all_users)
set_users_not_started_tutorial = set_all_users.difference(set_users_with_started_tutorial)
print(len(set_users_not_started_tutorial))

8068

In [65]:
len(set_users_not_finished_but_started_tutorial) + len(set_users_not_started_tutorial)\
    + len(set(users_with_finished_tutorial))==len(set_all_users)

True

Считаем пользователей, которые завершили обучение и совершили оплату

In [66]:
purchase_finished_tutorial = purchase_registred[purchase_registred['user_id'].isin(users_with_finished_tutorial)]
purchase_finished_tutorial['user_id'].nunique() # кол-во пользователей закончивших обучение и оплативших

1447

In [67]:
percent_of_purchase_1 = purchase_finished_tutorial['user_id'].nunique() / len(users_with_finished_tutorial)
print(f'Процент пользователей, которые оплатили тренировки (от числа пользователей, завершивших обучение):\
    {percent_of_purchase_1:.2%}')

Процент пользователей, которые оплатили тренировки (от числа пользователей, завершивших обучение):    14.12%

In [68]:
purchase_finished_tutorial['amount'].mean()

110.98825155494126

In [69]:
purchase_started_not_finished_tutorial = \
    purchase_registred[purchase_registred['user_id'].isin(set_users_not_finished_but_started_tutorial)]
print(purchase_started_not_finished_tutorial['user_id'].nunique())
percent_of_purchase_2 = purchase_started_not_finished_tutorial['user_id'].nunique() / len(set_users_not_finished_but_started_tutorial)
print(f'"Процент пользователей, которые оплатили тренировки (от числа пользователей, начавших обучение, но не завершивших):\
    {percent_of_purchase_2:.2%}')

131
"Процент пользователей, которые оплатили тренировки (от числа пользователей, начавших обучение, но не завершивших):    8.15%

In [70]:
purchase_started_not_finished_tutorial['amount'].mean()

104.9618320610687

In [71]:
purchase_not_started_tutorial = \
    purchase_registred[purchase_registred['user_id'].isin(set_users_not_started_tutorial)]
print(purchase_not_started_tutorial['user_id'].nunique()) 
percent_of_purchase_3 = purchase_not_started_tutorial['user_id'].nunique() / len(set_users_not_started_tutorial)
print(f'"Процент пользователей, которые оплатили тренировки (от числа пользователей, не начавших обучение):\
    {percent_of_purchase_3:.2%}')

22
"Процент пользователей, которые оплатили тренировки (от числа пользователей, не начавших обучение):    0.27%

In [72]:
purchase_not_started_tutorial['amount'].mean()

128.4090909090909

Как мы видим, процент пользователей, которые завершили обучение и совершили оплату, выше, чем процент пользователей, которые не начали обучение или не закончили его.

Это говорит о том, что факт прохождения обучения влияет на дальнейшую мотивацию использовать приложение. Существенной разницы в среднем чеке при этом не наблюдается, то есть обучение увеличивает вовлечённость, но выбор количества платных пакетов зависит индивидуально от пользователя